@import '../../palette.scss';

.content {
  .copyright {
    padding: 20px;
    font-size: 0.8rem;
    text-align: center;

    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      );
    }
  }
}