@import '../../palette.scss';

$info-box-color: grey;

.portfolio-entry {

  margin: 50px 0px;

  .screenshot {
    border-radius: 2px;
    filter: grayscale(100%);
    cursor: pointer;
    z-index: 20;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .screenshot:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    filter: grayscale(0%);
    transform: scale(1.02);
    z-index: 20;
  }

  .info {

    .logo-wrap {
      display: flex;
      align-content: center;
      justify-content: center;
      padding: 40px;
      .logo {
        display: flex;
        
      }
    }

    .description {
      position: relative;
      z-index: 10;
      border-radius: 20px;
      background-color: $info-box-color;
      margin: 30px 0;
      padding: 20px;


      .triangle {
        position: absolute;
        margin: 0 39%;
        top: -35%;


        @include lg{
          transform: rotate(-90deg) translate(-55%, -85px) scale(0.7);
          top: 0;
          margin: 0;
        }

        path {
          fill: red;
        }
      }

      .text {
        padding: 10px;
      }

      .tags {
        .tag {
          display: inline-block;
          background-color: $accent-color;
          padding: 5px 10px;
          margin: 10px;
          border-radius: 30px;
          cursor: pointer;
          color: $primary-color-text;
          font-weight: 700;
        }
        .tag:hover {
          background-color: $accent-color-light; 
        }
      }
    }
  }
}