@import '../../palette.scss';

.navbar-wrap {
  background-color: $primary-color;

  .navbar {
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;

    button:focus {
      outline: none;
      background-color: $primary-color-dark;
    }

    .navbar-brand {
      svg {
        vertical-align: middle;
      }
      .brand-text {
        margin-left: 20px;
      }
    }
    
  }
}